* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html:focus-within {
  scroll-behavior: smooth;
}
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

header {
  display: flex;
  font-size: 98px;
  font-family: Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-weight: 900;
  font-style: oblique;
}
.container {
  display: grid;
  grid-template:
    "header header header"
    "leftBar content rightBar"
    "footer footer footer";
  width: 97vw;
  overflow-y: auto;
  padding: 5px;
  position: relative;
  background-image: linear-gradient(to right, #7f8c8d, #000000);
}
.header {
  grid-area: header;
  height: 180px;
  align-items: center;
}
.leftBar {
  grid-area: leftBar;
  width: 200px;
  font-family: sans-serif;
  line-height: 25px;
}
.content {
  grid-area: content;
}
