.search {
  display: flex;
  width: 200px;
  height: 40px;
  border-radius: 10px;
  padding: 5px;
  align-items: center;
  background-color: rgba(159, 181, 203, 0.324);
  border: 2px solid rgb(50, 66, 83);
  margin-bottom: 10px;
}
.search:focus {
  color: black;
  font-weight: 900;
}
.search:hover {
  cursor: pointer;
}
::placeholder {
  color: black;
}
