* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html:focus-within {
  scroll-behavior: smooth;
}
body {
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

header {
  grid-area: header;
}
.container {
  display: grid;
  grid-template:
    "header header header" 200px
    "leftBar content content" auto
    "footer footer footer" 200px/
    200px auto auto;
  width: 100%;
  padding: 5px;
  position: relative;
}
.grey {
  background-image: linear-gradient(to right, #7f8c8d, #000000);
}
.blue {
  background-image: linear-gradient(to right, rgb(0, 255, 255), #0898e5);
}
.leftBar {
  grid-area: leftBar;
  width: 200px;
  font-family: sans-serif;
  line-height: 25px;
  padding-left: 20px;
}
.content {
  grid-area: content;
  padding-left: 30px;
}
footer {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}