header {
  display: flex;
  font-family: Haettenschweiler, "Arial Narrow Bold", sans-serif;
  width: 700px;
}
.logo {
  font-size: 98px;
  font-weight: 900;
  font-style: oblique;
}
.navigation ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  text-decoration: none;
  justify-content: flex-end;
  align-content: flex-end;
  padding: 25px;
  position: absolute;
  right: 100px;
  box-shadow: 3px, 6px;
  border-radius: 16px;
  border: solid 1px;
  height: 200px;
  width: auto;
  padding-bottom: 25px;
}
.navigation li {
  display: flex;
  flex-direction: column;
  height: 30px;
  justify-content: center;
}
.navigation a {
  text-decoration: none;
  justify-content: center;
}
.link-text {
  font-display: flex;
  flex-direction: row;
  text-decoration: none;
  font-size: medium;
  text-decoration: none;
  font-weight: 600;
}
.grey .link-text {
  color: slategray;
}
.blue .link-text {
  color: rgb(0, 5, 10);
}
.color-button {
  display: flex;
  flex-direction: row;
  width: fit-content;
  height: 40px;
  align-items: center;
  border-radius: 16px;
  padding: 16px;
  margin-top: 16px;
  border: 1px solid rgba(7, 90, 213, 0.15);
  box-shadow: 0 2px 0 inset;
  cursor: pointer;
  margin-right: 6px;
  background-color: transparent;
  transition: ease filter 0.1s;
  align-self: center;
  font-weight: 600;
}
.grey .color-button {
  color: slategray;
}
.color-button:hover {
  font-weight: 700;
  filter: brightness(120%);
}
